@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
}
.background {
  background-image: url('../images/img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 1535px;
  opacity: 0.8;

}
.nav {
  width: 1535px;
}
.main h1 {
  font-family: "Audiowide", sans-serif;
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 50px;
  left: 200px;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content{
  position: absolute;
  top: 270px;
  left: 20px;
}
.hero-content h2 {
font-size: 35px;
font-weight: bold;
  
}
.hero-content p{
  position: absolute;
  font-size: 25px;
  left: 10px;
}
.hero-content button{
  position: absolute;
  left:300px;
  top: 115px;
  height: 50px;
  width:130px;
  border-radius: 15px;
  border: white;
  
}
.hero-content a{
  text-decoration: none;
  color: rgb(2, 56, 2);
  
  font-size: 20px;
  font-weight: bold;

}
button:hover{
  background-color: rgb(163, 201, 88);
}

.about, .features {
  padding: 2rem;
  background-color: white;
  margin: 2rem auto;
  max-width: 1000px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.427);
}

.about h2, .features h2 {
  text-align: center;
  color: #3ba040;
  margin-bottom: 1rem;
  font-size: 40px;
  font-weight: bold;
}
.feature h3{
  font-size: 25px;
}
.about p,.feature p{
  font-size: 18px;
}
.features .feature {
  margin-bottom: 1.5rem;
  text-align: center;
}

footer {
  background-color: #45a049;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}
.contact {
    color: #fff;
    font-size: 35px;
}
.contact p{
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}
 p:hover i{
  padding-right: 1.5rem;
 }

